.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#project {
  background-color: #e2edff;
}

/* unvisited link */
a:link {
  color: #a70c0c;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
  font-style: normal;
}

/* selected link */
a:active {
  color: blue;
}

section {
  padding-top: 5rem;
}
